
.search{
    margin-top: 20px;
    width: 100%;
}
.content{
    padding: 15px;
}
table{
    width: 100%;
    padding-top: 70px !important;
}

.delete {
    color: #c4342d;
}

.edit {
    color: #696969 ;
}

.button-row{
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}
.mat-card {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: -60px;
    position: sticky;           
    color: rgb(63, 62, 62);
    background-color: #ffcc00;
    border-radius: 10px;
}

h4{
    margin-top: 20px !important;
}
.mat-mini-fab {
    background: white;
    color: #ffcc00;
}

a{
    cursor: pointer;
}

.col-xs {
    width: 2%;
}
  
.col-sm {
    width: 10%;
}

.col-md {
    width: 31%;
}