
/*.ajustando-butoes {

}
.button-entrar{
  right: 3% !important;
  position: fixed;
  top: 7%;
}

.button-cadastrar {
  right: 10% !important;
  position: fixed;
  top: 7%;
}*/
.button-entrar {
  margin-right: 20px;
/*  color: #ffffff;
  text-decoration: none;*/
}
