<!--
<app-header></app-header>
-->

<div class="login-card">
<mat-card class="example-card login-card-content">
  <mat-card-header  class="login-form-header">
    <mat-card-title >    <img src="../assets/images/logo vandus_min.png" alt="image" width="180px">
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>


    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="example-form">
            <mat-form-field class="example-full-width login-form-field" >
              <input matInput formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                     placeholder="E-mail" [(ngModel)]="authModel.email" name="email" required>
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">E-mail é requerido</div>
              </div>
            </mat-form-field>
          <div></div>
         <mat-form-field class="example-full-width login-form-field">
            <input matInput formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                   placeholder="Senha" [(ngModel)]="authModel.password" type="password" name="password" required>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Senha é necessário</div>
            </div>
          </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary">Acessar</button>
      </mat-card-actions>
      
    </form>
  </mat-card-content>

</mat-card>
</div>