.data{
  position: absolute;
  margin-top: -3%;
  margin-left: 25%;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

table{
  width: 100%;
  /* margin-bottom: 15px;  */
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 10px;
  text-align: center;
}