/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: white}

@media (max-width: 599px){
.mat-toolbar-row, .mat-toolbar-single-row {
      height: 36px !important;
  }
}

@media (max-width: 599px){
  .logo {
        display: none !important;
    }
  }



.mat-toolbar-row, .mat-toolbar-single-row {
  height: 50px !important;
}

.mat-icon-button .mat-icon, .mat-icon-button i {
  line-height: 22px !important;
}


.login-card{
  width: 100%;
  height: 500px;
  margin-top: 10%;
}

.login-card-content{
  margin: 0 auto;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.login-form-header{
  width: 100%;
  text-align: center;
}


.login-form-field{
  min-width: 100%;
}

.mat-card-header-text{
  min-width: 100%;
  margin: 0 !important;
}

.dataDetail{
  font-size: small;
}


.titleDetail{

  display: block;
  width: 100%;
  float: left;
  font-weight: bold;
  margin-bottom: 6px;
}