@import '~@angular/material/theming';
@import './app/shared/table/table.component.scss';
@include mat-core();



$md-vandus: (
    50 : #fff9e0,
    100 : #fff0b3,
    200 : #ffe680,
    300 : #ffdb4d,
    400 : #ffd426,
    500 : #ffcc00,
    600 : #ffc700,
    700 : #ffc000,
    800 : #ffb900,
    900 : #ffad00,
    A100 : #ffffff,
    A200 : #fffaf2,
    A400 : #ffe8bf,
    A700 : #ffdfa6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$md-vandusecondary: (
    50 : #f9f2e0,
    100 : #f0deb3,
    200 : #e6c980,
    300 : #dbb34d,
    400 : #d4a226,
    500 : #cc9200,
    600 : #c78a00,
    700 : #c07f00,
    800 : #b97500,
    900 : #ad6300,
    A100 : #ffebd7,
    A200 : #ffd2a4,
    A400 : #ffb971,
    A700 : #ffad58,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$candy-app-primary: mat-palette($md-vandus);
$candy-app-accent:  mat-palette($md-vandusecondary);
$candy-app-warn:    mat-palette($mat-red);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);
@include app-table-theme($candy-app-theme);